<h2>eui-calendar</h2>

<h3>Bootstrap Datepicker</h3>
<div style="width: 300px">
  {{eui-calendar}}
</div>

<hr>

<h3>EUI Selectdate</h3>
{{eui-selectdate}}

<hr>

<h3>EUI Selectdate with Range</h3>
{{eui-selectdate range=true}}

<hr>